<% if flash[:notice] %>
<p id="notice">
    <%= flash[:notice] %>
    </p>

<% end %>
<div class="container px-5 px-sm-0">
   <div class="row">
     <div class="col-md-3">
       <h2>User info</h2>
     <%= render 'books/list', books: @books %>
     <%= render 'books/error', books: @books %>
     <h2></h2>New book
     <%= render 'books/new', model: @book %>
     </div>
       <div class="col-md-8 offset-md-1">
         <table class="table table-sm user-index">
<h2>Users</h2>
<thead>
          <th>image</th>
          <th>name</th>
          <th></th>
  	    </thead>
  	  	<tbody>
<% @users.each do |user| %>
<div>
 <tr>
	  	  	  <td><%= attachment_image_tag user, :profile_image, :fill, 50, 50,fallback: "no_image.jpg"%></td>
	  	  	  <td><%= user.name %></td>
	  	  	  <td><%= link_to "Show", "/users/#{user.id}" %></td>
	  	  	</tr>
  	  	  <% end %>
  	  	</tbody>
  	  </table>
       </div>
     
   </div>
</div>
  
<%= paginate @users %>