<%= render 'books/list', books: @books %>

<h1>BooksDeteil</h1>


<div>
  <p><p>name：<%= @book.user.name %></p></p>
  <p>title: <%= link_to @book.title, book_path(@book) %></p>
  <p>body: <%= @book.body %></p>
 <%= link_to "edit", edit_book_path(@book) %>
<%= link_to "delete", book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？" %>
</div>
